.input-label {
    &-enter-active {
        transition: all 0.24s;
    }

    &-leave-active {
        transition: all 0.2s;
    }
    &-enter, &-leave-to {
        transform: scale(1.1) translate(5px, 20px);
        opacity: 0;
    }
}
