<template>
  <main class="main h-full flex">   
  </main>
</template>
<script>
export default {
    data() {
        return {
            route: null
        };
    },
    watch: {
        '$route' (to, from) {
            this.route = to.name;
        }
    }
};
</script>
<style lang="scss">
    .main {
    }
</style>
