@import "../variables.scss";
/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * For detailed instructions on Tailwind directives,  check out this link:  https://tailwindcss.com/docs/functions-and-directives
 */

html,
body {
  height: 100%;
  font-family: 'Roboto', 'sans-serif';
  background-color: $gray100;
  color: $textMain;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* prevent browser/OS standard input highlight and set standard border color */
input:focus,
select:focus,
textarea:focus {
  outline: none;
  /*border-color: rgba(42,55,116,0.9);*/
  border-color: rgba(42, 55, 116, 0.9);
  -webkit-transition: border-color 0.36s;
  transition: border-color 0.36s;
}

/* fade out border color upon de-selecting input */
input,
select,
textarea {
  -webkit-transition: border-color 0.36s;
  transition: border-color 0.36s;
}

/* prevent browser/OS standard button highlight */
button:focus,
div:focus {
  outline: 0 !important;
}

::-webkit-scrollbar-button {
  display: none;
  height: 13px;
  border-radius: 0px;
  background-color: orange;
}

::-webkit-scrollbar-button:hover {
  background-color: orange;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 7px;
  margin-right: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.4);
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 1px;
  border-left: 1px solid rgba(128, 128, 128, 0.1);
}

::-webkit-scrollbar {
  display: none;
}


@tailwind base;

@tailwind components;

@tailwind utilities;
