<template>
  <div 
    v-if="show" 
    class="root-container"
  >
    <div 
      class="main-container overflow-auto" 
      :class="{'p-4': !isFullScreen}"
    >
      <RouterView />
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';
    
export default {
    props: {
        isFullScreen: {
            type: Boolean,
            default: false,
        }
    },
    data() {
        return {
            show: false,
            route: null,
        };
    },
    watch: {
        '$route' (to, from) {
            this.route = to.name;
        }
    },
};
</script>
<style lang="scss">
    .main-container {
        height: calc(100% - 70px);
        overflow-y: hidden;
    }
</style>
